
{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}  
<!-- 
<h2>Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>  -->
<div style="text-align: center">
  <div  class="container py-5">
      <div class="d-flex justify-content-center">
      <h1 style =" background-color: black;color: white;">enter you new password</h1> </div><br>

<form method="post">
     
  {% csrf_token %}
  
  {% for fm in form %}

  <div class="form-group mb-3">
    {{fm.label_tag}}{{fm}}<small class="text-danger"
      >{{fm.errors|striptags}}</small
    >
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-dark">submit </button>
  
</form> 


</div></div>

{% endblock %}