{% extends "base.html" %}

{% block content %}   







<div style="text-align: center">
    <div  class="container py-5">
        <div class="d-flex justify-content-center">
        <h1 style =" background-color: black;color: white;">customer Login</h1> </div><br>

<form method="post">
     
   
    <!-- {{ form.as_p }} -->
{%     for fm in form %}
    {% csrf_token %}
    <div class="form-group mb-3">
      {{fm.label_tag}}{{fm}}<small class="text-danger"
        >{{fm.errors|striptags}}</small
      >
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-dark" >
     {{fm}} {{request.user.email}}submit </button>
    
</form>
    </div></div>

{% endblock %}