{% extends 'base.html' %} {% load static %} {% block content %}

<div style="text-align: center">
  <div  class="container py-5">
      
   
    <br>
    <div class="d-flex justify-content-center">

    <h2  style="color:blue;background-color:white;">Customer Registration</h2></div><br>
    
  <!-- <form  action="" method="post" novalidate class="shadow p-5">
    
    {% csrf_token %} {% for fm in form %}
    <div class="d-flex justify-content-center">
    <div class="form-group mb-3">
      {{fm.label_tag}}{{fm}}<small class="text-danger"
        >{{fm.errors|striptags}}</small
      >
    </div>
    </div>
  
    {% endfor %}
  
    <input type="submit" value="update" class="btn btn-dark" /><br><br>
    <p class="text-center">If you already have an account, <a style="color: black;" href="{% url 'login' %}">login</a> instead.</p>
    <p class="text-center">If you login other account, <a style="color: black;" href="{% url 'logout' %}">logout</a> and login for other account</p>
  </form>
   -->
   <div style="text-align: center">
    <div  class="d-lg-flex justify-content-center" > 
    <div style="max-width: 20rem">
   <form action="{% url 'sellregister' %}" method='post'>
    {% csrf_token %}
  
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">confirm_password</label>
          <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">contact</label>
          <input type="number" name="contact" class="form-control" id="exampleInputPassword1">
        </div>
      <button type="submit" name="customer_button" class="btn btn-primary">Submit</button>
    </form>
  
</div>
</div></div>
</div></div></div>
{% endblock %}
