{% extends 'base.html' %} {% load static %} {% block content %}

{% load crispy_forms_tags %}         

<!--Register--> 
<div style="text-align: center">
<div class="container py-5">
    <div class="d-flex justify-content-center">
	<h1 style="background-color:black ;color:white">Seller Register</h1></div>
	<form method="POST">
		{% csrf_token %}
		
        {{ form |crispy }}  
        <br>                  
		<button class="btn btn-dark" type="submit">Register</button>
	</form>
    <br>

	<p class="text-center">If you already have an account, <a style="color: black;" href="{% url 'sellerlogin' %}">login</a> instead.</p>
</div>
</div>

{% endblock %}